[user]
	email = k.nguyen.an.hoa@gmail.com
	name = Klinkesorn Nguyen An Hoa
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
[http]
	postBuffer = 157286400
	maxRequestBuffer = 100M
[commit]
	template = ~/.git-message
[core]
	compression = 0
	excludesfile = ~/.gitignore
